<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855488605666-tto9lfn8o8vv0sglem8lje3fhjcjkpfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855488605666-tto9lfn8o8vv0sglem8lje3fhjcjkpfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>855488605666-fku843v23s515aioe6a165ug8e13vsgh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrig0kSd3dOPxHFt_vIJL5dBOR2xPkbmg</string>
	<key>GCM_SENDER_ID</key>
	<string>855488605666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekank</string>
	<key>PROJECT_ID</key>
	<string>ekank-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ekank-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855488605666:ios:cce1dd15f17993b5569dbb</string>
</dict>
</plist>